<div class="text-center mb-4 mt-4">
  <img
    src="Logo-H-Mushuc-Runa.png"
    alt="Logo"
    class="img-fluid"
    style="height: 100px; width: auto"
  />
</div>
<h2 class="titulo mb-4 text-center">¿Qué crédito necesitas?</h2>
<div class="d-flex flex-column align-items-center">
  <label class="text-center mb-3 form-label fw-bold">Tipo de Crédito</label>
  <select
    class="form-select text-center mb-3 w-auto"
    (change)="creditSelected($event)"
    formControlName="creditType"
  >
    <option value="">---Seleccione el tipo de crédito---</option>
    <option *ngFor="let item of creditoptions" [value]="item.value">
      {{ item.label }}
    </option>
  </select>
</div>

<div class="row">
  <div class="col-lg-6">
    <app-form-page></app-form-page>
  </div>
  <div class="col-lg-6">
    <app-show-credit></app-show-credit>
  </div>
</div>
