
      <div class="simulador-container p-4 border rounded shadow-sm bg-white">
        <p class="fw-semibold">Ingresa los siguientes datos para empezar la simulación</p>

        <div class="mb-3">
          <label class="form-label fw-bold">¿Cuánto dinero necesitas?</label>
          <input
            type="tel"
            class="form-control"
            placeholder="Ej. $1000"
            formControlName="creditAmount"
            (input)="onInputChange($event)"
          />
          <small class="text-muted">{{this.rango}}</small>
        </div>

        <div class="mb-3">
          <label class="form-label fw-bold">¿En cuánto tiempo quieres pagarlo?</label>
          <select formControlName="creditPlazo" class="form-select">
            <option  class="text-center" value="">---Selecciona tu plazo---</option>
            <option *ngFor="let plazo of creditMonthPlazo" [value]="plazo.value">
              {{ plazo.label }}
            </option>
          </select>
        </div>

        <div class="mb-3">
          <label class="form-label fw-bold">¿Cómo quieres pagar tus intereses?</label>
          <div class="d-flex flex-column flex-md-row gap-3">
            <button
              type="button"
              (click)="seleccionarMetodo('Frances')"
              [class.active]="creditForm.value.creditMethod === 'Frances'"
              class="btn btn-outline-success w-100"
            >
              Método Francés<br /><small>Cuotas fijas en el tiempo</small>
            </button>
            <button
              type="button"
              (click)="seleccionarMetodo('Aleman')"
              [class.active]="creditForm.value.creditMethod === 'Aleman'"
              class="btn btn-outline-success w-100"
            >
              Método Alemán<br /><small>Cuotas variables decrecientes</small>
            </button>
          </div>
        </div>

        <button (click)="credit()" type="submit" class="btn btn-success w-100">Simular</button>
        <button (click)="resetAll()" class=" mt-2 btn btn-danger w-100" >Limpiar</button>
      </div>
    